body {
    margin: 5;
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: 'Arial';
}

.app {
    background-image: url(./images/utiles3.png);
    background-size: cover;
    padding: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.todo-list{
    background: #e8e8e8;
    border-radius: 7px;
    padding: 5px;
    max-width: 400px;

    margin: 0 auto;
    
}

.todo{
    background: #fff;
    box-shadow: 1px 1px 1px rqba(0,0,0,0.15);
    padding: 3px 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25em;
    font-size: 24px;
}

.remove {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}